.body_detail {
    background: #fff; 
    display: flex;
    justify-content: center;
    margin-top: 85px;

    .dog_detail {
      // display: flex;
      flex-direction: row;
      width: 40%;
      height: 50%;
        background-color: #fff;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.400);

        .left {
          width: 50%;
          margin: 40px 0 0 0;
          padding-left: 210px;
        }

        .right {
          width: 100%;
          margin: 50px 0 40px 20px;
        }

        .linkDet{
          text-decoration: none;
          color: #fff;
          background: #000;
          height: 25px;
          padding-right: 5px;
          padding-left: 5px;
          }
          
          .linkDet:hover{
            background-color: #fff;
            color: black;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
          }

          img {
            background-size:cover;
            // width: 200px;
            height: 200px;
          }

          h1 {
            margin-bottom: 20px;
          }
          
          h4, p{
            color: #000;
            padding-right: 30px;
          }

          button {
            height: 50px;
            padding: 10px;
            margin-top: 30px;
            background: transparent;
            
        }
    
        button:hover {
            background: #000;
            color: #fff;
            cursor: pointer;
        }
    }

    

}

@media screen and (max-width: 885px) {
  .body_detail{
    .dog_detail {
    width: 80%;;

    .left {
      padding: 0;
      padding-left: 500px;
    }
  

  }
  }
  

}

@media screen and (max-width: 1200px) {
  .body_detail{
    .dog_detail {
    width: 80%;
    margin-bottom: 100px;

    .left {
      padding: 0;
      padding-left: 50px;
    }
  

  }
  }
  

}